# ==========================================
# GRAFANA CONFIGURATION
# ==========================================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin_password_here

# ==========================================
# GRAFANA ALERTING TELEGRAM TOKENS & CHAT IDs
# ==========================================
# Ganti dengan token dari BotFather

# -- DEVELOPMENT --
TELEGRAM_BOT_TOKEN_DEV=your_bot_token_here
TELEGRAM_CHAT_ID_SERVER_DEV=your_chat_id_here
TELEGRAM_CHAT_ID_APP_DEV=your_chat_id_here
TELEGRAM_CHAT_ID_DB_DEV=your_chat_id_here

# -- STAGING --
TELEGRAM_BOT_TOKEN_STG=your_bot_token_here
TELEGRAM_CHAT_ID_SERVER_STG=your_chat_id_here
TELEGRAM_CHAT_ID_APP_STG=your_chat_id_here
TELEGRAM_CHAT_ID_DB_STG=your_chat_id_here

# -- MIRROR --
TELEGRAM_BOT_TOKEN_MIR=your_bot_token_here
TELEGRAM_CHAT_ID_SERVER_MIR=your_chat_id_here
TELEGRAM_CHAT_ID_APP_MIR=your_chat_id_here
TELEGRAM_CHAT_ID_DB_MIR=your_chat_id_here

# -- PRODUCTION --
TELEGRAM_BOT_TOKEN_PROD=your_bot_token_here
TELEGRAM_CHAT_ID_SERVER_PROD=your_chat_id_here
TELEGRAM_CHAT_ID_APP_PROD=your_chat_id_here
TELEGRAM_CHAT_ID_DB_PROD=your_chat_id_here
 
# ==========================================
# DATASOURCE CREDENTIALS
# ==========================================
GF_DATASOURCE_USER=your_user_here
GF_DATASOURCE_PASSWORD=your_password_here
